<% include ../../partials/header %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public_assets/css/icons.css">
  <link rel="stylesheet" href="/public_assets/css/slider-responsive.css">
  <link rel="stylesheet" href="/public_assets/css/animate.min.css">
  <link rel="stylesheet" href="/public/css/style.css">

  <body class="vertical-layout vertical-menu-modern 2-columns navbar-floating footer-static  pose-lead"
    data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">
    <% include ./partials/navbar%>
      <% include ./partials/leftpane%>

        <% include ../../partials/flash %>

          <div class="app-content content">
            <div class="content-overlay"></div>
            <div class="header-navbar-shadow"></div>


            <div class="content-wrapper">
              <div id="add-Events">
                <div class="content-body">
                  <div class="mb-2">
                    <section class="searchjobspage">
                      <div class="forlrgscreen">
                        <div class="pt-xl-2 pt-lg-0 pt-md-0 pt-sm-5 pt-0">
                          <div class="course_nw mb-3">
                            <div class="row justify-content-sm-center justify-content-md-start">

                              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-10 mx-auto">
                                <div class="cr_nw_in">
                                  <!-- <div id="base">
                                        <p class="text-center p-0 match_card font-weight-bolder mb-0">Now At</p>
                                        <p class="text-center p-0 match_del font-weight-bold mb-0"><del class="text"></del></p>
                                        <p class="text-center p-0 match_final font-weight-bold mb-0"></p>
                                      </div> -->
                                  <div class="right_obj shadow">

                                  </div>


                                  <a href="#" data-target="#videoModal" data-toggle="modal" link=""
                                    class="video-bttn position-relative d-block"><img id="videoPlay" src=""
                                      class="video_thum img-fluid" alt="">
                                    <img src="public_assets/images/newjoblisting/play.svg" alt="" class="group1"></a>

                                  <div class="course_inf pt-0">
                                    <a href="/candidate/course/">
                                      <h5>

                                      </h5>
                                      <span class="job_cate">

                                      </span>
                                      <div class="row">
                                        <div class="col-md-6 col-sm-6 col-6">
                                          <div class="course_spec">
                                            <div class="spe_icon">
                                              <!-- <i class="la la-money"></i> -->
                                              <figure class="text-end">
                                                <img src="/public_assets/images/newicons/eligibility.png"
                                                  class="img-fluid p-0 width" draggable="false">
                                              </figure>
                                            </div>
                                            <div class="spe_detail">
                                              <p class="mb-0 text-black">Eligibility</p>
                                              <p class="mb-0 text-black"><small class="sub_head">(
                                                  )</small></p>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-6">
                                          <div class="course_spec">
                                            <div class="spe_icon">
                                              <!-- <i class="la la-shield"></i> -->
                                              <figure class="text-end">
                                                <img src="/public_assets/images/newicons/duration.png"
                                                  class="img-fluid p-0 width" draggable="false">
                                              </figure>
                                            </div>
                                            <div class="spe_detail">
                                              <p class="mb-0 text-black">Duration</p>
                                              <p class="mb-0 text-black"><small class="sub_head">(
                                                  )</small></p>
                                            </div>
                                          </div>
                                        </div>


                                        <div class="col-md-6 col-sm-6 col-6">
                                          <div class="course_spec">
                                            <div class="spe_icon">
                                              <figure class="text-end">
                                                <img src="/public_assets/images/newicons/location.png"
                                                  class="img-fluid p-0 width" draggable="false">
                                              </figure>
                                              <!-- <i class="la la-graduation-cap"></i> -->
                                            </div>
                                            <div class="spe_detail">
                                              <p class="mb-0 text-black">Location</p>
                                              <div class="ellipsis-wrapper">
                                                <p class="mb-0 text-black para_ellipsis" title="">
                                                  <small class="sub_head">

                                                  </small>
                                                </p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6 col-6">
                                          <div class="course_spec">
                                            <div class="spe_icon">
                                              <!-- <i class="la la-map"></i> -->
                                              <figure class="text-end">
                                                <img src="/public_assets/images/newicons/job-mode.png"
                                                  class="img-fluid p-0 width" draggable="false">
                                              </figure>
                                            </div>

                                            <div class="spe_detail">
                                              <p class="mb-0 text-black">Mode</p>
                                              <p class="mb-0 text-black"><small class="sub_head">(
                                                  )</small></p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </a>
                                    <div class="row mt-1">
                                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                        <a class="apply-thisjob text-left px-1 apply-padding mb-0 mt-0"
                                          href="/candidate/course/" title=""><i class="la la-paper-plane  "></i>
                                          Apply Now</a>
                                      </div>
                                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                        <a class="apply-thisjob text-left px-1 apply-padding mb-0 mt-0"
                                          href="https://wa.me/918699017301?text=hi" title=""><i
                                            class="la la-mobile-phone  "></i>
                                          Chat Now</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- <hr> -->

                            </div>
                          </div>





                        </div>
                      </div>
                      <div class="forsmallscrn d-none">
                        <div class="container search-page pt-xl-5 pt-lg-0 pt-md-0 pt-sm-0 pt-0">


                          <div class="row pointer">
                            <div class="card-body px-0">
                              <div class="col-lg-8 col-md-7 column">
                                <div class="job-single-sec">
                                  <div class="job-single-head border-0 pb-0">
                                    <div class="job-head-info">
                                      <h6 class="text-capitalize font-weight-bolder">
                                        ...
                                      </h6>
                                      <span class="text-capitalize set-lineh">
                                        ...
                                      </span>
                                    </div>
                                  </div>
                                  <a href="/candidate/course/">
                                    <div class="job-overview mt-1">
                                      <ul class="mb-xl-2 mb-lg-2 mb-md-2 mb-sm-0 mb-0 list-unstyled">
                                        <li><i class="la la-money"></i>
                                          <h3 class="jobDetails-wrap">
                                            ...
                                          </h3>
                                          <span class="text-capitalize jobDetails-wrap">
                                            Course Fee
                                          </span>
                                        </li>
                                        <li><i class="la la-shield"></i>
                                          <h3 class="jobDetails-wrap">

                                            <span class="jobDetails-wrap">
                                              Course Level
                                            </span>
                                        </li>
                                        <li><i class="la la-graduation-cap"></i>
                                          <h3 class="jobDetails-wrap">

                                            <span class="jobDetails-wrap">
                                              Course Agency
                                            </span>
                                        </li>
                                      </ul>
                                    </div>
                                  </a>
                                </div>
                              </div>
                              <div class="col-lg-4 col-md-5 column mt-xl-4 mt-lg-5 mt-md-5 mt-sm-3 mt-2">
                                <a class="apply-thisjob text-left px-0 d-xl-block d-lg-block d-md-block d-sm-none d-none apply-padding text-center"
                                  href="/candidate/course/" title=""><i class="la la-paper-plane  "></i>
                                  Register for this Course</a>
                                <!-- Course Overview -->
                                <div class="row ">
                                  <div class="col-6 same-plane mt-2">
                                    <a class="apply-thisjob text-center py-1 px-0 d-xl-none d-lg-none d-md-none d-sm-block d-block w-100 same-plane"
                                      href="/candidate/job/" title="">
                                      <i
                                        class="la la-paper-plane ml-xl-3 mt-lg-3 mt-md-2 mt-sm-0 ml-xl-0 ml-lg-0 ml-md-1 ml-sm-2 ml-0 text-center-sm text-center-md text-center-lg text-center-xl plane-font"></i>Course
                                      Apply
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>


                        </div>
                      </div>

                    </section>
                  </div>
                </div>
                <style>
                  .course--apply {
                    background: #fff;
                    border-radius: 0.5rem;
                    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
                    transition: all .3s ease-in-out;
                    text-align: center;
                    padding: 8px 5px;
                  }

                  .course--apply a {
                    color: #000;
                  }

                  #courseTabs {
                    gap: 25px;
                  }

                  .serach-course-form {
                    display: flex;
                    justify-content: center;
                    transition: 0.5 ease-in-out;
                  }

                  .serach-course-form input {
                    /* width: 50%; */
                    border: 1px solid;
                    border-radius: 10px;
                    padding: 10px 15px;
                    font-size: 15px;
                    transition: 0.5s ease-in-out;
                  }

                  .width {
                    width: 30px;
                  }
                </style>

                <script>
                  document.addEventListener("DOMContentLoaded", function () {
                    initCarousel(); // Initialize image carousel
                    // initDropdown(); // Dropdown functionality
                    // initToggleMore(); // Read more functionality
                    // initLazyVideo(); // Video autoplay optimization
                    // initShareButton(); // Sharing functionality
                    // initEdit(); // Edit modal functionality
                    // initTagModal(); // Tagging modal
                  });

                  // 🔹 1️⃣ Initialize Carousel (Image Slider)
                  function initCarousel() {
                    document.querySelectorAll(".happy_candidate_images").forEach(container => {
                      const slides = [...container.children];
                      if (slides.length <= 1) return;

                      container.insertAdjacentHTML("beforebegin", `
            <button class="carousel-btn prev">❮</button>
            <button class="carousel-btn next">❯</button>
          `);
                      let currentSlide = 0;
                      const updateSlides = () => slides.forEach((slide, i) => slide.style.display = i === currentSlide ? "block" : "none");
                      container.parentNode.querySelector(".prev").addEventListener("click", () => { currentSlide = (currentSlide - 1 + slides.length) % slides.length; updateSlides(); });
                      container.parentNode.querySelector(".next").addEventListener("click", () => { currentSlide = (currentSlide + 1) % slides.length; updateSlides(); });
                      updateSlides();
                    });
                  }
                </script>

              </div>
            </div>

            <% include ./partials/footer%>
          </div>

  </body>
  </html>