<%include ./newpartials/header%>
<section>
    <div class="focalBanner">
        <div class="row">
            <div class="col-4">
                <div class="focalytLogo"></div>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
                <div class="focalytLogo"></div>
            </div>
        </div>
    </div>
</section>