<%include ./newpartials/header%>
<script src="https://www.google.com/recaptcha/api.js"></script>
<section id="bookDemo" style="margin-top: 100px;" class="bg-white section-padding-120">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2 class="book_demo_today text-black text-center">
              Book your FREE Demo Today!
            </h2>
            <p class="header_underline"></p>

            <p class="demoQuate text-black text-center">
              Are you ready to experience the power of AI and Robotics? Request a free demo of our AI and Robotics
              ecosystem today!
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="demo_table">
            <form method="post" id="demoForm">
              <div class="demo_form">
                <h3 class="request_demo text-black pb-3">
                  Request your Demo Today
                </h3>
                <div class="form_name">
                  <div class="first_name">
                    <input name="name" type="text" class="form_input" placeholder="" id="fullName" required>
                    <label class="label">Full Name <span class="imp">*</span></label>
                  </div>
                  <div class="email">
                    <input name="email" type="text" class="form_input" placeholder="" id="email" required>
                    <label class="label">Email <span class="imp">*</span></label>
                  </div>
                </div>
                <div class="form_name">
                  <div class="phone">
                    <input name="mobile" class="form_input" type="text" placeholder="" id="phone" required
                      maxlength="10" 
                      pattern="^\d{10}$" 
                      oninput="this.value = this.value.slice(0, 10).replace(/[^0-9]/g, '')">
                    <label class="label">Phone <span class="imp">*</span></label>
                  </div>
                  <div class="Organisation">
                    <input name="organisation"  class="form_input" required placeholder="" type="text" id="organisation">
                    <label class="label">Name of Institute <span>*</span></label>
                  </div>
                </div>
                <div class="form_name">
                  <div  class="designation select-container">
                    <select name="designation" class="form_designation_input" id="designation" required>
                      <option value="" disabled selected>Select your designation</option>
                      <option value="manager">Manager</option>
                      <option value="developer">Developer</option>
                      <option value="designer">Designer</option>
                      <option value="tester">Tester</option>
                    </select>
                    <label class="label" for="Designation"> Designation <span class="imp">*</span></label>
                  </div>
                  <div class="state">
                    <select name="state" class="form_designation_input" id="state" required>
                      <option value="" disabled selected>Select your State</option>
                      <option value="Andhra Pradesh">Andhra Pradesh</option>
                      <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                      <option value="Assam">Assam</option>
                      <option value="Bihar">Bihar</option>
                      <option value="Chhattisgarh">Chhattisgarh</option>
                      <option value="Goa">Goa</option>
                      <option value="Gujarat">Gujarat</option>
                      <option value="Haryana">Haryana</option>
                      <option value="Himachal Pradesh">Himachal Pradesh</option>
                      <option value="Jharkhand">Jharkhand</option>
                      <option value="Karnataka">Karnataka</option>
                      <option value="Kerala">Kerala</option>
                      <option value="Madhya Pradesh">Madhya Pradesh</option>
                      <option value="Maharashtra">Maharashtra</option>
                      <option value="Manipur">Manipur</option>
                      <option value="Meghalaya">Meghalaya</option>
                      <option value="Mizoram">Mizoram</option>
                      <option value="Nagaland">Nagaland</option>
                      <option value="Odisha">Odisha</option>
                      <option value="Punjab">Punjab</option>
                      <option value="Rajasthan">Rajasthan</option>
                      <option value="Sikkim">Sikkim</option>
                      <option value="Tamil Nadu">Tamil Nadu</option>
                      <option value="Telangana">Telangana</option>
                      <option value="Tripura">Tripura</option>
                      <option value="Uttar Pradesh">Uttar Pradesh</option>
                      <option value="Uttarakhand">Uttarakhand</option>
                      <option value="West Bengal">West Bengal</option>
                      <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                      <option value="Chandigarh">Chandigarh</option>
                      <option value="Dadra and Nagar Haveli and Daman and Diu">Dadra and Nagar Haveli and Daman and Diu</option>
                      <option value="Delhi">Delhi</option>
                      <option value="Lakshadweep">Lakshadweep</option>
                      <option value="Puducherry">Puducherry</option>
                      <option value="Ladakh">Ladakh</option>
                      <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                    </select>
                    <label class="label">State <span class="imp">*</span></label>
                  </div>                  
                </div>            
               
                
                <!-- <textarea class="form-contro mb-3 message-to pe-1" name="message" id="exampleFormControlTextarea1"
                    placeholder="Message us" rows="2" ></textarea> -->
                    <div class="textarea-container">
                      <textarea id="message" name="message" placeholder=" " rows="2" required></textarea>
                      <label for="exampleTextarea">Your Message</label>
                    </div>
                
                    <button type="submit" class="submit_btn g-recaptcha" data-callback='onSubmit' data-sitekey="6Lej1gsqAAAAAEs4KUUi8MjisY4_PKrC5s9ArN1v" >Book Demo</button>
              </div>
              <% if(success && success.length> 0) { %>
                <div class="alertLoginSuccess alert-success alert-dismissible error_login text-danger" role="alert">
                    <%- success %>
                </div>
                <% } %>
                
            </form>
            
          </div>
          

        </div>
        <div class="col-md-6">
          <div class="demo_experience">
            <h3 class="Robotics text-black">
              Experience the power of AI and Robotics with us!
            </h3>
            <div class="underline"></div>
            <div class="robo_area">
              <p>
                Discover the power of the STEMpedia ecosystem – a revolutionary Coding, AI, and Robotics solution for
                schools! Our educational specialists are here to show you how to harness the potential of this
                cutting–edge technology.
              </p>
              <p>
                In as little as one hour, we can assign the right resources to your specific educational requirements
                and help unlock the countless possibilities STEMpedia provides.
              </p>
              <p>
                Contact us for a free demonstration tailored to fit your school‘s schedule. Act now and let STEMpedia
                revolutionize the way you learn.
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

 

<%include ./newpartials/lab_footer%>
<script>
  document.getElementById('demoForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent form submission
    let isValid = true; // Assume all fields are valid initially

    // Select all required inputs and selects
    const fields = [
      { id: 'fullName', label: 'Full Name' },
      { id: 'email', label: 'Email' },
      { id: 'phone', label: 'Phone' },
      { id: 'designation', label: 'Designation' },
      { id: 'organisation', label: 'Name of Institute' },
      { id: 'state', label: 'State' },
      { id: 'message', label: 'Your Message' },
    ];

    fields.forEach(field => {
      const input = document.getElementById(field.id);
      const span = input.parentElement.querySelector('.imp');

      if (!input.value) {
        isValid = false; // If field is empty, form is invalid
        input.classList.add('error');
        if (span) span.classList.add('error');
      } else {
        input.classList.remove('error');
        if (span) span.classList.remove('error');
      }
    });

    if (isValid) {
      // Submit the form (can replace this with actual submission logic)
      // alert('Form submitted successfully!');
    } else {
      // alert('Please fill all required fields!');
    }
  });
</script>
<script>
    const videoModal = document.getElementById('videoModal')
    if (videoModal) {
      videoModal.addEventListener('show.bs.modal', event => {    
      // Button that triggered the modal
      const button = event.relatedTarget
          // Extract info from data-bs-* attributes
          const link = button.getAttribute('data-bs-link')
  
          // Update the modal's content.
          const modalBody = videoModal.querySelector('.modal-body #vodeoElement')
  
          modalBody.src = link
          document.getElementById('courseVid').load()
        })
        videoModal.addEventListener('hide.bs.modal', event => {  
          document.getElementById('courseVid').pause()
        })
    }

    </script>
    <script>
      function onSubmit(token) {
        document.getElementById("demoForm").submit();
      }
    </script>