<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="color-scheme" content="dark light">
  <title>FOCALYT</title>
  <link rel="shortcut icon" href="/public_assets/images/newpage/favicon.png" type="public_assets/images/newpage/x-icon">
  <link href="/js/newpage/plugin/newunpug/aos.css" rel="stylesheet">
  <!-- Plugin'stylesheets  -->
  <link rel="stylesheet" type="text/css" href="/css/newpages/fonts/typography/fonts.css">
  <link rel="stylesheet" href="/css/newpages/fonts/fontawesome/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/js/newpage/plugin/aos/aos.min.css">
  <link rel="stylesheet" type="text/css" href="/js/newpage/plugin/fancybox/jquery.fancybox.min.css">
  <!-- Vendor stylesheets  -->
  <link rel="stylesheet" type="text/css" href="/js/newpage/plugin/newbootstrap/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/newpages/style.css">
  <link rel="stylesheet" type="text/css" href="../css/newpages/demo.css">
  <link rel="stylesheet" type="text/css" href="../css/newpages/custom.css">
  <link rel="stylesheet" type="text/css" href="../css/newpages/respo.css">
  <link rel="stylesheet" type="text/css" href="../css/newpages/fonts.css">
  <link rel="stylesheet" type="text/css" href="../css/newpages/comparison.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.4/swiper-bundle.css">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link href="https://fonts.cdnfonts.com/css/clash-display" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Syne:wght@500;600;700&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@500;600;700;800;900&amp;display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500;600;700&amp;display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&amp;display=swap"
    rel="stylesheet">
  <!-- Plugin'stylesheets  -->
  <link rel="stylesheet" type="text/css" href="/js/newpage/plugin/slick/slick.min.css">
  <link rel="stylesheet" type="text/css" href="/js/newpage/plugin/slick/slick-theme.css">
  <!-- Vendor stylesheets  -->
  <link rel="stylesheet" href="/css/newpages/joblisting.css">
  <link rel="stylesheet" href="/css/newpages/jobsearch.css">
       <!-- Microsoft Clarity -->
       <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "n4i9ljyxr0");
    </script>
       <!-- Microsoft Clarity -->
  <!-- Meta Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '895986214834081');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=895986214834081&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Meta Pixel Code -->
  </head>
<body>
  <section class="header">
    <div class="border-bottom">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light brand-logo site-navbar mt-2">
              <a class="navbar-brand" href="/">
                <img src="/public_assets/images/newpage/logo-ha.svg" alt="">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 24 24" fill="none">
                  <path d="M20 7L4 7" stroke="#FC2B5A" stroke-width="1.5" stroke-linecap="round" />
                  <path d="M20 12L4 12" stroke="#FC2B5A" stroke-width="1.5" stroke-linecap="round" />
                  <path d="M20 17L4 17" stroke="#FC2B5A" stroke-width="1.5" stroke-linecap="round" />
                </svg>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="links ms-auto">
                  <ul class="site-menu-main">
                    <li class="nav-item nav-item-has-children">
                      <a href="https://about.focalyt.com/" target="_blank" class="nav-link-item drop-trigger">About Us
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class='nav-link-item drop-trigger' target="_blank" href="/joblisting">Jobs</a>
                    </li>
                    <li class="nav-item">
                      <a class='nav-link-item drop-trigger' href='/courses'>Courses</a>
                    </li>
                    <li class="nav-item d-xl-none d-lg-none d-md-none d-sm-block d-block">
                      <a class='nav-link-item drop-trigger' href='/contact'>Contact Us</a>
                    </li>
                    <!-- active -->
                    <li class="nav-item  d-xl-flex d-lg-flex d-md-flex d-sm-none d-none">
                      <a class='nav-link-item drop-trigger ' href='/contact'>Contact Us</a>
                      <!-- active_menu -->
                    </li>
                    <li class="nav-item">
                      <!-- Container for hoverable area -->
                      <div class="dropdown-container">
                        <!-- Login Text as a Span -->
                        <span class="nav-link-item drop-trigger active_menu" id="loginLink">LogIn</span>
                        
                        <!-- Dropdown Menu -->
                        <ul class="dropdown-menu" id="loginDropdown">
                          <li><a href="#" class="dropdown-item">Login as Corporate</a></li>
                          <li><a href="#" class="dropdown-item">Login as Student</a></li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
            
        </div>
      </div>
    </div>

  </section>
